@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
body {
  background: linear-gradient(90deg, blue, violet);
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
#head {
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: "Oswald", sans-serif;
}
#link {
  text-decoration: none;
  border: solid 2px;
  padding: 20px 60px 20px 60px;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  background: linear-gradient(90deg, #4169E1, #00008B);
  background-clip: text;
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  background: black;
}
#link2 {
  text-decoration: none;
  border: solid 2px;
  padding: 20px 60px 20px 60px;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  background: linear-gradient(90deg, #4169E1, #00008B);
  background-clip: text;
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  background: black;
}
#link3 {
  text-decoration: none;
  border: solid 2px;
  padding: 20px 60px 20px 60px;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  background: linear-gradient(90deg, #4169E1, #00008B);
  background-clip: text;
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  background: black;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s, box-shadow 0.2s 0.3s;
}
.btn:hover {
    background-color: #3f8a7c;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3f8a7c;
   }
